.index {
  background-color: #240750;
  background-image: url(rental.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  background-color: #344c64;
}
nav title {
  color: #b3e2a7;
}

/* .bg {
  margin-top: 100px;
} */
.tulis {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #57a6a1;
}
.footer {
  margin-top: 180px;
}
.varian {
  background-image: url(boot-aset/bgvarian.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* body {
  filter: grayscale(50%);
} */
.card {
  background-color: rgba(225, 225, 225, 50%);
  transition: 0.5s;
  filter: grayscale(100%);
}
.card:hover {
  box-shadow: 0 0 10px 0 #85d8ef inset, 0 0 20px 2px #85d8ef;
  transition: 0.5s;
  filter: none;
}
.btn:hover {
  filter: none;
  box-shadow: 0 0 10px 0 #02c8ff inset, 0 0 20px 2px #00a8d7;
  border: 3px solid #00a8d7;
  transition: 0.5s;
  color: #000000;
  background-color: aquamarine;
}
a {
  text-decoration: none;
}
.btn-home {
  background-color: #6295a2;
}
.btn-home:hover {
  filter: none;
  box-shadow: 0 0 10px 0 #02c8ff inset, 0 0 20px 2px #00a8d7;
  border: 3px solid #00a8d7;
  transition: 0.5s;
  color: #000000;
  background-color: #37B7C3;
}
.btn {
  transition: 0.5s;
}
.gmbr:hover {
  width: 350px;
  transition: 0.5s;
}
.gmbr {
  transition: 0.5s;
}
.navbar-toggle-icon {
  display: flex;
  justify-content: end;
}
.home {
  background-image: url(boot-aset/bg\ mobil\ 2.jpg);
  background-repeat: no-repeat;
}
.bg-pesan {
  background-color: #6295a2df;
}
.pesan {
  background-image: url(boot-aset/bg\ mobil\ 3.jpg);
  background-size: cover;
}
.atur-carousel {
  margin-top: 3rem;
  width: 50%;
}
.form-txt {
  color: #57a6a1;
}
.footer {
  display: flex;
  align-items: end;
}
.up {
  width: 2rem;
  height: 2rem;
  position: fixed;
  bottom: 2.5rem;
  right: 3rem;
  cursor: pointer;
  color: #344c64;
  mix-blend-mode: difference;
}
@media (max-width: 450px) {
  .atur-carousel {
    width: 100%;
  }
}
